/* Background */
body {
  background-color: whitesmoke
}
/* Background */
/*------------*/


/* NavBar */
ul#navBarContainer {
  padding-bottom: 2.5rem;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}
ul#navBarContainer li{
  display: flex;
  float: left;
  margin: 0px;
  padding: 0px 10px;
}

a#navBarLink {
  text-decoration: none;
}
a#navBarLink:visited {
  color:blue;
 }

a#navBarLink:hover {
 color:navy;
}
a#navBarLink:active {
  color: purple;
 }
 /* NavBar */
 /*--------*/


 /* Footer */
div#footer {
  position: absolute;
  bottom: 0.1em;
  left: 33%;
}

div#footer hr {
  width: 75%;  
}

div#footer p {
  text-align: center;
}
 /* Footer */
 /*--------*/


 /* Header */
img#imageHeader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Header */
/*--------*/


/* Home */
div#homePage li{
  font-size: 18px;
  font-weight: 600;
  margin: 0.1em;
}
/* Home */
/*------*/

/* About */
div#aboutUsPage p{
  width: 70%;
}
/* About */
/*-------*/

/* Services */
div#servicesPage dt{
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
div#servicesPage dd{
  width: 70%;
}
/* Services */
/*----------*/