@import-normalize;

/* Body */
body {
  background-color: white;
}

/* Body */
/*------------*/


/* NavBar */
div#navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2.5em;
  margin: 0px;
}

a#navBarLink {
  justify-content: center;
  margin: 0px;
  padding: 0px 10px;
  text-decoration: none;
}

a#navBarLink:visited {
  color:blue;
}

a#navBarLink:hover {
 color:navy;
}

a#navBarLink:active {
  color: purple;
 }

 /* NavBar */
 /*--------*/


 /* Footer */
div#footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

div#footerContainer hr {
  width: 40%;  
}

div#footerContainer br {
  content: " ";
}

div#footerContainer small {
  margin-top: 0.4em;
}

 /* Footer */
 /*--------*/


 /* Header */
div#imageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */
/*--------*/


/* Home */
div#homePage {
  display: inline-block;
  flex-flow: column;
  width: 50%;
}

div#homePage li{
  font-size: 18px;
  font-weight: 600;
  margin: 0.1em;
}

div#homePage p {
  min-width: 100%;
  padding: 0px;
  margin-top: 3px;
  margin-right: 0px;
}

div#homePageImgWrapper {
  display: inline-flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: auto;
  height: 550px;
  margin-left: 1.5em;
}

div img#primaryImage {
  width: 60%;
  height: 100%;
}

div img#secondaryImage {
  width: 49%;
  height: 50%;
}
/* Home */
/*------*/

/* About */
div#aboutUsPage p{
  width: 70%;
}

/* About */
/*-------*/

/* Services */
div#servicesPage dt{
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

div#servicesPage dd{
  width: 70%;
}

/* Services */
/*----------*/

/* Contact Us */
div#contactInfo {
display: inline-flex;
width: 50%;
margin: 0px;
text-align: center;
flex-direction: column;
justify-content: start;
}
div#contactInfo p {
  margin-top: 0em;
}

div#messageForm {
  display: inline-flex;
  width: 50%;
  margin: 0px;
  flex-direction: column;
}

div#messageForm h2 {
  margin-left: 3em;
}

div#messageForm div.input {
  margin: 0.3em;
}

div#messageForm div#areaInput {
  margin: 0.3em;
}

div#messageForm button#formSubmitBtn {
  margin-left: 19.6em;
}

/* Contact Us */
/*------------*/

/* Router */
div#routeWrapper {
  min-height: calc(100vh - 70px);

}

/* Router */
/*--------*/